.header-contacts__link {
  @include flexCenter(flex);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: $primary-text-color;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.header-contacts {
  @extend %list;
  display: flex;
  margin-left: auto;
}
.header-contacts__item:not(:first-child) {
  margin-left: 50px;
}

.header-contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}
