%list {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}
%conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
%section {
  padding-top: 94px;
  padding-bottom: 94px;
}
%hiden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
